@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.btn-dark {
  background-color: #ff6e86;
  border: #ff6e86;
}
.form-control {
  background-color: rgba(255, 172, 97, 0.3);
}
::placeholder {
  color: #ff6e86 !important;
  opacity: 1;
}
.orange{
  background-color: #FFAC61;
  border-radius: 20px;
}
.pink{
  background-color: #ff6e86;
  border-radius: 20px;
}
.orange-text{
  color: #FFAC61;
}
.pink-text{
  color: #ff6e86;
}
.box-pading{
  padding: 2em;
  transition: all 250ms ease-in-out;
}
.box-pading:hover{
  padding: 1em;
}
.boot{
  background-color: #FFAC61;
}
.boot:nth-of-type(4n+1){
  background-color: #ff6e86;
}
.boot:nth-of-type(4n+4){
  background-color: #ff6e86;
}

/* Footer */
footer ul li a:hover {
  color: #ff6e86;
}
footer ul li:hover {
  transform: scale(1.3);
}
