@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

.btn-dark {
  background-color: #ff6e86;
  border: #ff6e86;
}
.form-control {
  background-color: #ffac61;
}

input::placeholder {
  color: #ff6e86 !important;
  opacity: 1;
}
.orange {
  background-color: #ffac61;
}
.pink {
  background-color: #ff6e86;
}
.orange-text {
  color: #ffac61;
}
.pink-text {
  color: #ff6e86;
}
/* Footer */
.flex {
  display: flex;
  list-style: none;
}
ul {
  justify-content: center;
  font-size: 2rem;
  gap: 1rem;
}
footer ul li a {
  color: #ff6e86;
}
footer ul li a:hover {
  color: #ff6e86;
}
footer ul li:nth-of-type(2) a {
  color: #ffac61;
}

footer ul li:hover {
  font-size: 2.5rem;
}
