@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

.btn-dark {
  background-color: #ff6e86;
  border: #ff6e86;
}
.form-control {
  background-color: rgba(255, 172, 97, 0.3);
}
::placeholder {
  color: #ff6e86 !important;
  opacity: 1;
}
.orange{
  background-color: #FFAC61;
}
.pink{
  background-color: #ff6e86;
}
.orange-text{
  color: #FFAC61;
}
.pink-text{
  color: #ff6e86;
}